body{
    background-image: url("7.jpg");
    background-repeat: no-repeat ;
    background-size: cover;


}
h1{
    font-size: 50px;
    color: cyan;
    font-weight: bolder;
    font-family: Arial, Helvetica, cursive;
}
p{
    font-family: cursive;
    font-size: 20 px;
    margin-left: 300px;
    color: black ;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu{
padding: 10px;
}
.hi{
    border: 5px outmost red;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-family: cursive;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    color: orangered;
 
    
}
.bye{
    border: 20px outmost red;
    display:flex;
    align-items: center;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    color: orangered;
    
}

p.heade{
font-size: large;
font-style: italic;
font-weight: bold;
color: orangered;

}
.big{
    font-size: 100px;
    color: orangered;
    display: flex;
    background-color: #FCD02C;
}
.grid{
    display:flex;
    margin: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#32064A;

}
.item{
    margin: 30px ;
   
   
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-variant: inherit;
    border: 6px solid brown;
}
p.eq{
    font-size: 20px;
    margin-left: 300px;
}
.polaroid {
    margin: 50px;
    margin: 20;
    background-color: blueviolet;
    margin-left: 100px;
    border: 6px solid brown;
    width: 300;
    height: 400;
    margin-right: 100px;
  }
  .caption {
    font-family: "Brush Script MT", cursive;
    font-size: 70px;
    color: orangered;
    margin-left: 100px;
    font-weight: bold;
    border: 6px solid brown;
    margin-right: 100px;
    background-color: cyan;


  }
  
  .gallery_item {
   
    background-color: red;
    width: 300;
    height: 300;
    margin: 50;
    text-align: center;
    margin-top: 220;
  }
.gallery{

    background-color: red;
}  
